body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    border-top: 4px solid #ffae00;
}

.text-center {
    text-align: center !important;
}

.text-start {
    text-align: start !important;
}

.text-end {
    text-align: end !important;
}

#dataListTable_filter {
    margin-bottom: 3% !important;
}


#text-header {
    font-size: 2rem;
}

/* Smartphone Responsive */
@media (max-width: 767px) {
    #text-header {
        font-size: 1.2rem;
    }
}





/*  */
/* ABOUT PART */
.Group3Logo {
    text-align: right;
}

.cust-ul {
    list-style-type: none;
}

.grad-txt-1 {
    background: -webkit-linear-gradient(#4f78ef, #7a3aeb);
    -webkit-background-clip: text;
}

.grad-txt-2 {
    background: -webkit-linear-gradient(#4f78ef, #7a3aeb);
    -webkit-background-clip: text;
}

.cust-u {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #f75139;
}

.text-green {
    color: green;
}

.text-orange {
    color: #f75139;
}

.cust-ul .cust-j {
    color: #f75139;
    display: inline-block;
    margin-right: 5px;
}





/*  */
/* TABLES PART */
/* TABLE SCROOL-X: OVERFLOW (REQ: div class="table-container encap the <table>") */
.table-container {
    width: 100%;
    overflow-x: auto;
}

thead {
    background-color: #6c757d;
    color: white;
}